{% extends 'main/base.html' %}
{% load static %}

{% block title %} Blog {% endblock %}
{% block description %} {% endblock %}
{% block keywords%} {% endblock %}

<!-- Add CSS -->
{% block extend_header %} {% endblock %}

<!-- Add JS -->
{% block extend_footer %} {% endblock %}

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">

      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3"> {{ object.title }}</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-auto">
          <div class="authorCol">
            <h4 class="smTitle pb-3"> {{ object.author }}</h4>
          </div>
        </div>
      </div>

      <div class="sectionSpaceSm">
        <div class="container">
          {{object.body|safe}}
        </div>
      </div>

    </div>
  </div>
</section>


<!-- ================================
End Content
================================= -->
{% endblock %}